<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sess達o</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="form-container">
        <h2>Iniciar Sess達o</h2>
        <form action="/login" method="post">
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" id="name" name="username" 
                placeholder="Digite o seu nome" required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="name">Email</label>
                <input type="email" id="email" name="email" 
                placeholder="Digite o seu email" required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="password">Palavra-passe</label>
                <input type="password" name="password" id="password"
                placeholder="Palavra-passe" required>
            </div>
            <button type="submit" class="submit-btn" id="loginButton">Iniciar Sess達o</button>
        </form>
        <p>N達o tens conta? <a href="/signup">Registar-se</a></p>
    </div>
</body>
</html>